body {
  width: 100%;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: rgb(76, 118, 172);
  background-color: rgb(240, 233, 233);
}

/*
=====================
NAVIGATION
=====================
*/

nav {
  background-color: steelblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  position: sticky;
  top: 0;
  z-index: 4;
}

.nav-ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}

.nav-ul li {
  display: inline;
  float: left;
}

.nav-ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-ul li:last-child {
  float: right;
}

.nav-ul li a:hover:not(.active) {
  background-color: #111;
}

#logotext {
  margin-bottom: 10px;
  margin-left: 10px;
}

input::placeholder{
  color: white;
}

.input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  line-height: 30px;
  outline: 0;
  border: 0;
  font-size: 1em;
  border-radius: 20px;
  padding: 0 20px;
}


/*
================
MAIN CONTENT
================
*/

.container {
  width: 100%;
}

main {
  width: 95%;
  margin: auto;
}

.content {
  display: flex;
  margin-bottom: 70px;
}

.lefty {
  flex-direction: column;
}

.content-child {
  display: flex;
  width: 100%;
  height: 200px;
  align-items: center;
  margin: 0;
}

/* TRAVELS */

.travels {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  background-image: url("images/img-bg-adventure.jpg");
  background-size: cover;
  height: 600px;
  margin-top: 150px;
  transform: skewY(-5deg);
  box-shadow: inset 0 0 0 1000px rgba(20, 169, 228, 0.7);
}

.why{
  text-align: center;
  margin-bottom: 50px;
  position: absolute;
  top: 50px;
  color: white;
  transform: skewY(5deg);
}

.travels-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: skewY(5deg);
  margin-top: 100px;
  width: 100%;
}

.travel {
  background-color: white;
  color: black;
  width: 200px;
  height: auto;
  padding: 15px;
  text-align: center;
  z-index: 2;
}

/* TOURS */

.tours {
  display: flex;
  justify-content: space-around;
}

.popular {
  text-align: center;
  margin: 60px 0;  
}

.tour {
  width: 250px;
  height: auto;
  text-align: center;
}

.tour img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.tour ul {
  list-style-type: none;
  margin-right: 15%;
}

.tour ul li {
  padding: 10px;
  border-bottom: 1px solid black;
}

.tour ul li:last-child {
  border-bottom: none;
}

.white {
  background-color: white;
}

#sea-list li {
  border-bottom: 1px solid white;
}

#sea-list li:last-child {
  border-bottom: none;
}

.more {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.more a {
  background-image: linear-gradient(
    to right,
    rgb(0, 132, 255),
    rgb(0, 204, 255)
  );
  color: white;
  border-radius: 20px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

/* FOOTER */

footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 200px;
}

#inner-f1 {
  flex-grow: 4;
  background-color: darkcyan;
}

#inner-f1 div {
  text-align: center;
}

#inner-f2 {
  flex-grow: 4;
  background-color: rgb(44, 50, 75);
  padding: 15px 25px;
  color: white;
}

.foot-ul {
  margin-top: 30px;
  list-style-type: none;
}

.foot-ul a {
  text-decoration: none;
  color: white;
}

.foot-ul2 {
  margin-top: 30px;
  list-style-type: none;
}

.foot-ul li {
  display: inline;
  margin-right: 50px;
}

.foot-ul2 li {
  display: inline;
  margin-right: 20px;
}

.foot-ul2 li a {
  text-decoration: none;
}

/* MOBILE DEVICE */

@media screen and (max-width: 1000px) {
  .travel {
    margin-right: 5px;  
  }
}

@media screen and (max-width: 768px) {
  /* NAVIGATION */
  nav {
    display: block;
    text-align: center;
  }

  .nav-ul,
  .nav-ul li {
    float: none;
  }

  .nav-ul li:last-child {
    float: none;
  }

  /* MAIN CONTENT */
  .container {
    width: 100%;
  }

  .content {
    flex-direction: column;
    margin-bottom: 100px;
  }

  .why {
    text-align: center;   
    top: 20px;
    color: white;
    transform: skewY(0);
    margin-left: 30%;
    margin-right: 30%;
  }

  .content-child {
    flex-direction: column;
  }

  .travels-inner {
    display: block;
    transform: skewY(0);
    margin-top: 130px;
  }
  
  .travels {
    display: block;
    height: auto;
    transform: skewY(0);
  }

  .travel {
    display: block;
    width: 100%;
  }

  .travel div {
    padding-right: 25px;
  }

  .popular {
    text-align: center;
    margin: 40px 0;    
  }

  .tours {
    display: block;
  }

  .tour {
    width: 100%;
  }

  /* FOOTER */
  .footer {
    display: block;
  }

  .foot-ul li {
    display: block;
    margin-bottom: 20px;
  }
}
